/* estilo do meu botão */
body {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #363636;
}

button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  color: #00af06;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #493d3d;
}

h1 {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 20px;
}

.exe1h1 {
  color: #757373;
  font-size: 50px;
  margin-bottom: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  background: #363636;
  justify-content: center;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

footer {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  background-color: #363636;
  color: #ffffff; 
  padding: 20px;
  justify-content: center;
  text-align: center;
}
